body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2D2D2D;
    text-align: left;
    background-color: #F7F7F7;
}

.content {
    max-width: 860px;
    margin: 0 30px 0 10px;
    padding: 40px 30px;
    background-color: #fff;
    position: relative;
}

h1 {
    margin-bottom: 30px;
    padding: 18px 20px;
    border-left: 5px solid #115a71;
    font-weight: bold;
    background-color: #fafafa;
    line-height: 1.42857;
}

h2 {
    margin-top: 58px;
    margin-bottom: 28px;
    padding: 16px 18px;
    border-left: 5px solid #115a71;
    font-weight: bold;
    background-color: #fafafa;
    line-height: 1.42857;
}

h3 {
    margin-top: 58px;
    margin-bottom: 20px;
    padding: 2px 2px;
    font-weight: bold;
    background-color: #fafafa;
    line-height: 1.42857;
}

img {
    border: 1px #2D2D2D solid;
    margin: 15px;
}